button
{
  float: right;
  background-color: #4386F8;
  color: white;
  border: none;
  font-size: small;
  padding: 5px;
  width: 8%;

}

ul li

{
  display: inline-block;
  list-style-type: none;
  /*position: absolute;*/
  margin-left: 5px;
  float: right;
  padding-top: 8px; /* move the text to the bot */
  margin-right: 20px;
  font-family: Arial, sans-serif;
}

a
{
  color: black;
  font-size: small;

}

li:hover
{
  text-decoration: underline;
}

.menu img
{
  width: 25px;
  float: right;
  padding-right: 15px;
  padding-top: 3px;
  opacity: 0.6;
}

body
{
  margin-right: 50px;
}

section img
{
  position: absolute;
  right: 50%;
  left: 40%;
  top: 40%;
}

section .barre
{
  position: absolute;
  right: 50%;
  left: 30%;
  top: 60%;
}

input
{
  width: 570px;
  height: 30px;
  border: 1px #A0A0A0 solid;
}

input:hover
{
  border: 1px grey solid;

}

input:focus
{
  border: 1px #4386F8 solid;
}

body
{
  font-family: Arial, sans-serif;
}

.gauche
{
  position:absolute;
  bottom: 10px;
  left: 0px;
}

.droite
{
  position: absolute;
  bottom: 10px;
  right: 0px;


}

footer .gauche .droite
{

  background: lightgrey;
  height: 32px;
  bottom: 0px;
}
